<header class="main-header">
  <ul class="columns is-vcentered">
    <li class="column">
      <div class="icon-text pl-4">
        <span class="icon image is-24x24">
          <img class="is-rounded" src="https://avatars.dicebear.com/api/adventurer-neutral/231441AAFA.svg" />
        </span>
        <span class="has-text-black has-text-weight-medium font-14 ml-3">Lương Thanh Thắng</span>
      </div>
    </li>
    <li class="column is-narrow px-2">
      <div>
        <span class="icon">
          <span class="material-icons is-size-6">mail_outline</span>
        </span>
      </div>
    </li>
    <li class="column is-narrow px-2">
      <div>
        <span class="icon">
          <span class="material-icons material-icons-outlined is-size-6">dashboard</span>
        </span>
      </div>
    </li>
    <li class="column is-narrow px-2">
      <div>
        <span class="icon">
          <span class="material-icons material-icons-outlined is-size-6">star_outline</span>
        </span>
      </div>
    </li>
    <li class="column is-narrow px-2">
      <div>
        <span class="icon">
          <span class="material-icons material-icons-outlined is-size-6">view_timeline</span>
        </span>
      </div>
    </li>
    <li class="column is-narrow px-2">
      <div>
        <span class="icon">
          <span class="material-icons material-icons-outlined is-size-6">book</span>
        </span>
      </div>
    </li>
    <li class="column is-narrow pl-2 pr-5">
      <div>
        <span class="icon">
          <span class="material-icons material-icons-outlined is-size-6">notifications</span>
        </span>
      </div>
    </li>
  </ul>
</header>

@code{
  
}